<div class="form-group" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-9">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <img src="https://freepikpsd.com/file/2019/11/delete-icon-transparent-background-1-Images.png" style="height: 30px; float: left; cursor: pointer" alt="User-delete" (click)="onRemove()">
                <div class="m-b-25 mt-5"> <img src="https://www.shareicon.net/data/2016/06/30/788856_edit_512x512.png" style="height: 100px;cursor: pointer" class="img-radius" alt="User-Profile-Image"> </div>
                <h6 class="f-w-600" style="font-size: 18px; color: lightcyan">{{ form.name }} {{ form.surname }}</h6>
                <h6 class="f-w-600" style="font-size: 18px; color: lightcyan">{{ form.patronymic }}</h6> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h5>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Футболка:</p>
                    <h6 class="text-muted f-w-400"><li>{{ form.tShirt }}</li></h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Размер:</p>
                    <h6 class="text-muted f-w-400"><li>{{ form.size }}</li></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Место работы:</p>
                    <h6 class="text-muted f-w-400"><li>{{ form.workplace }}</li></h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Номер:</p>
                    <h6 class="text-muted f-w-400">{{ form.number }}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Навык:</p>
                    <h6 class="text-muted f-w-400" *ngFor="let skill of form.skills; let i = index"><li>{{ form.skills[i].skill }} ({{ form.skills[i].level }})</li></h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Комментарии:</p>
                    <h6 class="text-muted f-w-400"><li>{{ form.comments }}</li></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
