<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

              <form [formGroup]="registerForm" (ngSubmit)="saveRegistration()">

                <div class="form-outline mb-2">
                  <label class="form-label" for="name"><b>Имя: </b></label>
                  <input type="text" id="name" formControlName="name" class="form-control form-control-lg" />
                  <small
                    *ngIf="fieldHasError('name', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Введите, пожалуйста, ваше имя.
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="surname"><b>Фамилия: </b></label>
                  <input type="text" id="surname" formControlName="surname" class="form-control form-control-lg" />
                  <small
                    *ngIf="fieldHasError('surname', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Введите, пожалуйста, вашу фамилию.
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="patronymic"><b>Отчество: </b></label>
                  <input type="text" id="patronymic" formControlName="patronymic" class="form-control form-control-lg" />
                  <small
                    *ngIf="fieldHasError('patronymic', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Введите, пожалуйста, ваше отчество.
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="number"><b>Номер телефона: </b></label>
                  <input type="text" id="number" formControlName="number" class="form-control form-control-lg" placeholder="+996XXXYYYY" />
                  <small
                    *ngIf="fieldHasError('number', 'required')"
                    class="form-text invalid-form-text mb-2"
                  >
                    Введите, пожалуйста, ваш номер телефона.
                  </small>
                  <small
                    *ngIf="fieldHasError('number', 'number')"
                    class="form-text invalid-form-text"
                  >
                    Формат телефона: "+996ХХХYYYY".
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="workplace"><b>Место работы/учебы: </b></label>
                  <input type="text" id="workplace" formControlName="workplace" class="form-control form-control-lg" />
                  <small
                    *ngIf="fieldHasError('workplace', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Введите ваше место работы или учебы.
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <p style="margin-bottom: 5px"><b>Вариант футболки</b>:</p>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="maleT-shirt"
                      value="Male"
                      formControlName="tShirt"
                    />
                    <label class="form-check-label" for="maleT-shirt">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="femaleT-shirt"
                      value="Female"
                      formControlName="tShirt"
                    />
                    <label class="form-check-label" for="femaleT-shirt">Female</label>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label for="size"><b>Размер футболки</b>:</label>
                      <select
                        formControlName="size"
                        id="size"
                        class="form-control"
                      >
                        <option value="">Выберите размер</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                      </select>
                  <small
                    *ngIf="fieldHasError('size', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Выберите, пожалуйста, размер футболки.
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="comments"><b>Комментарии: </b></label>
                  <textarea id="comments" formControlName="comments" class="form-control form-control-lg" maxlength="300" ></textarea>
                  <small
                    *ngIf="fieldHasError('comments', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Оставьте, пожалуйста, комментарий.
                  </small>
                </div>

                <div class="form-group mb-2" formArrayName="skills">
                  <button type="button" class="btn btn-primary mb-2" (click)="addSkill();">Add skill</button>
                  <div class="form-inline" *ngFor="let skillControl of getSkillControls(); let i = index">
                    <div [formGroupName]="i">
                      <select
                        formControlName="skill"
                        id="skill"
                        class="form-control mb-2"
                      >
                        <option value="">Select a skill</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="React">React</option>
                        <option value="Angular">Angular</option>
                        <option value="Vue">Vue</option>
                      </select>
                      <small
                        *ngIf="fieldHasError('skills','required')"
                        class="form-text invalid-form-text"
                      >
                        Оставьте, пожалуйста, комментарий.
                      </small>
                      <select
                        formControlName="level"
                        id="level"
                        class="form-control ml-2 mb-2"
                      >
                        <option value="">Level of skill</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Expert">Expert</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center mt-2">
                  <button
                    type="submit"
                    class="btn btn-info btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="registerForm.invalid || isClick"
                  >Register</button>
                </div>

                <p class="text-center text-muted mt-3">Have already an account? <a href="#" class="fw-bold text-body" routerLink="forms"><u>Look here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
